body {
	background-color: #FFDEEF;
}
/* LOGO */
.logo {
	background-color: #D4D2D3;
}
.text_logo {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: right;
	text-shadow: 3px 2px #878586;
	padding: 1% 5%;
}
/* OFERTY */
.oferty {
	margin: 5%;
}
.oferty img {
	border-radius: 50px;
	margin: 5%;
}
.oferty .text {
	text-align: justify;
    text-justify: inter-word;
	font-size: 18px;
	padding: 7%;
}
/* TABLE */
.table {
	margin-top: 5%;
	font-size: 16px;
}
/* FOOTER */
footer {
	background-color: #D4D2D3;
	padding: 1%;
	text-align: right;
	font-weight: bold;
}
footer a {
	color: #CF0B5C;
}
footer a:hover {
	color: #CF0B5C;
}
footer .home {
	background-color: #ffffff; 
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
}
.fa-home {
	font-size: 20px;
}